h1, h2, h3, h4, h5, p, a {
	font-family:Georgia, "Times New Roman", Times, serif;
}

.orbit-bullets,
.orbit-slide-number {
	display:none;
}

.shiftup {
	margin-bottom:0px;
}

.tiny {
	width:35px;
	height:30px;
}

.grey {
    background:#666;
}

#minesweeper {
	overflow:scroll;
}
